body {background-color: rgb(0, 33, 47);
    background-image: url("pic1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;}
header {color: black;
    font-family: Palatino Linotype;
    font-size: 20px;
    font-style: bolder;
    text-decoration-line: underline;
    text-align: center;}
p.p1 {color: black;
    text-indent: 30px;
    font-family: Palatino Linotype;
    font-size: 20px;
    font-weight: bold;
    text-align: justify; 
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
    padding-left: 180px;}
p.p2 {color: black;
    text-indent: 30px;
    font-family: Palatino Linotype;
    font-size: 20px;
    font-weight: bold;
    text-align: justify; 
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
    padding-left: 200px}
p.p3 {
    color: black;
    text-indent: 30px;
    font-family: Palatino Linotype;
    font-size: 20px;
    font-weight: bold;
    text-align: justify; 
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
    padding-left: 150px}
button {background-color: transparent;
    border: none;
    padding-left: 100px;
    opacity: 100%;
    width: 100%;
    min-height: 40px;
    font-size: 15px;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    color: black;
    font-family: Palatino Linotype;}
table {
    padding-left: 40px;
    width: 100%;
    align-content: center;
    text-align: justify; 
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto; }
td.td {
    width: 1000px;
    padding-top: 10px;
    text-align: justify;
    vertical-align: top;
}
th {color: black;
    font-family: Palatino Linotype;
    font-size: 30px;
    font-style: bold;
    text-align: center;
    padding-top: 20px;
    padding-left: 100px;}
td.td1 {
    min-width: 10px;
    vertical-align: middle;
    text-align: right;}
img {
    max-width: 150px;
}