body {
    background-color: rgb(0, 33, 47);
    background-image: url("pic1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    padding-left: 10%; 
    padding-right: 10%;
    padding-top: 20px;
}

header {
    color: black;
    font-family: Palatino Linotype;
    font-size: 20px;
    font-style: bolder;
    text-decoration-line: underline;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-family: Palatino Linotype
}

h2 {
    text-align: left;  
    font-size: 30px;
    font-weight: bold;
    font-family: Palatino Linotype;
    margin: 0px;
    padding-left: 40px;
}

p.p1, p.p2, p.p3 {
    color: black;
    font-family: Palatino Linotype;
    font-weight: bold;
    font-size: 20px;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
}

p.p1 {
    text-indent: 30px;
    text-align: justify;
}

p.p2 {
    text-align: justify;
    background-color: white;
    opacity: 70%;
    border-radius: 20px;
    border-color: white;
    border: 5px;
    align-self: flex-end;
}
p.p3 {
    text-align: center;
}

button.b, button.h {
    background-color: transparent;
    border: none;
    opacity: 100%;
    
    min-height: 40px; 
    padding: 5px; 
    text-align: center; 
    font-weight: bold;
    color: black;
    font-family: Palatino Linotype;
}
button.b {
    font-size: 15px;
    width: 100px; 
}
button.h {
    font-size: 20px; 
    width: 150px;
}

div.menu {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

div.div {
    align-content: end;
    display: flex;
    align-items: end;
    justify-content: end;
    align-self: flex-end;
    bottom: 0;
    right: 0;
    position: fixed;
    padding-right: 10px;
}

div.topcell {
    width: 300px;
    vertical-align: top;
    text-align: center; 
    align-items: center; 
    flex: 1;
}

div.column {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: flex-start;
    margin-left: 20px;
    margin-right: 20px;
}

div.cell1 {
    max-width: 1000px;
    text-align: justify;
    margin-left: 25px;
    padding: 10px; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; 
    gap: 10px;
}

div.row {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;  
    align-items: flex-start; 
    gap: 10px;
}

div.row1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

div.header {
    width: 100%;
    font-size: 30px;
    font-style: bold;
    text-align: center; 
    padding-top: 20px;
}

div.cell {
    min-width: 150px;
    max-width: 250px;
    gap: 15px;
    text-align: center; 
    align-items: center;
    display: flex;  
    flex-direction: column; 
}

img {
    max-width: 150px;
    align-self: center;
}

@media (max-width: 800px) {
    header {
        text-align: center;  
        padding: 0px;
    }

    h1 {
        text-align: center;  
        display: flex;
        justify-content: center;
        padding-left: 0; 
    }

    h2 {
        text-align: center;
        padding-left: 0; 
        margin-top: 20px;
        margin-bottom: 20px;
    }
    div.column {
        align-items: center;
        max-width: 70%;
    }
    div.cell {
        text-align: center; 
        align-items: center;
    }

    div.topcell {
        text-align: center;  
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 0;
    }

    div.row1 {
        flex-direction: column; 
        justify-content: center;  
        align-items: center;
        padding-left: 0;
        padding-right: 0;
    }

    div.header {
        text-align: center;  
        padding-left: 0;
        padding-right: 0;
        display: flex;
        justify-content: center;
    }

    div.menu {
        width: 100%;
        text-align: center;  
        justify-content: center; 
        align-items:center; 
        display: flex;
    }

    body {
        width: 100%;
        text-align: center;  
        justify-content: center;
        background-size: cover;
        padding: 0px;
        margin: 0px;
    }

    div.cell1 {
        text-align: center;
        align-items: center;  
        max-width: 70%;
        padding-left: 5%; 
        padding-right: 5%;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px; 
        gap: 0px;
    }
    p.p1, p.p2, p.p3 {
        padding: 5px;
        background-color: white;
        opacity: 70%;
        border-radius: 20px;
        border-color: white;
        border: 5px;
    }
    div.div {
        padding-right: 5px;
        align-items: center;
        align-content: center;
        justify-content: center;
    }
}
