body {background-color: rgb(0, 33, 47);
    padding-left: 60px;
    padding-top: 30px;}
h1 {color: white;
    font-family: Palatino Linotype;
    font-size:45px;
    font-style: bold;
    text-decoration-line: underline;
    text-align: center;}
h2 {color: white;
    font-family: Palatino Linotype;
    font-size: 30px;
    font-style: bold;
    text-align: left;}
p {color: white;
    font-family: Palatino Linotype;
    font-size: 20px;
    text-align: justify; 
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;}
button {background-color: rgb(0, 50, 110);
    border: none;
    width: 100%;
    font-size: 15px;
    font: small-caps;
    color: white;
    font-family: Palatino Linotype;}
table.table1 {
    width: 40%;
    text-align: justify; 
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
    }
table.table2 {
    width: 100%;
    text-align: justify; 
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;}
td.td1 {
    min-width: 10px;
}